body {
    transition: all 2s;
}
#map {
    width: 1200px;
    height: 560px;
    position: relative;
    background-color: rgba(102, 255, 255, .5);
    margin: 20px auto;
    border: 10px dotted rgba(102, 255, 102, .8);
    transition: all 5s;
}