body {
    transition: all 3s;
}
div {
    width: 120px;
    height: 120px;
    background-color: pink;
    position: absolute;
    left: 100px;
    top: 100px;
    border-radius: 50%;
    cursor: move;
}